@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>Gerenciamento de Processos</h2>
        <ul>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
            <li>Lorem Ipsum has been the industry's standard dummy </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Como Usar o Sistema</h2>
        <ul>
            <li>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</li>
            <li>Many desktop publishing packages and web page editors now use Lorem Ipsum</li>
            <li>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</li>
        </ul>
    </div>
</div>
