@model EscritorioAdvocacia.Models.ViewModels.ProcessoFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Processos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Processo.Numero" class="control-label"></label>
                <input asp-for="Processo.Numero" class="form-control" />
                <span asp-validation-for="Processo.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processo.Estado" class="control-label"></label>
                <input asp-for="Processo.Estado" class="form-control" />
                <span asp-validation-for="Processo.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processo.Status" class="control-label"></label>
                <select asp-for="Processo.Status" class="form-control">
                        <option value="ativo">Ativo</option>
                        <option value="inativo">Inativo</option> 
                </select>
                <span asp-validation-for="Processo.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processo.Valor" class="control-label"></label>
                <input asp-for="Processo.Valor" class="form-control" />
                <span asp-validation-for="Processo.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processo.Data" class="control-label"></label>
                <input asp-for="Processo.Data" class="form-control" />
                <span asp-validation-for="Processo.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processo.ClienteId" class="control-label"></label>
                <select asp-for="Processo.ClienteId" asp-items="@(new SelectList(Model.Clientes, "Id", "Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
